<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<form class="" action="/images/<%=@image.id.to_s%>" method="post">

  <label> Title:
  <input type="input" name="name" value="<%= @image.name %>">
  </label><br>
  <label> Source code:
 <textarea name="src" style="width:100%" rows="10">
 <%= @image.src %>
  </textarea>
  </label><br>
  <input type="submit" value="Edit">
</form>

<form class="" action="/images/<%=@image.id.to_s%>/delete" method="post">
  <input type="submit" value="Delete">
</form>
