<!DOCTYPE html>
<html>
<header>
</header>
<body>

<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<% if @session.key?(:id) then %>
<h3>Welcome <%= current_user.username %>!</h3> 
<h3><a href="/images/new">Post new image</a> <a href="/logout">Logout</a></h3>
<% else %>
<h3>Please <a href="/signup">signup</a> or <a href="/login">login</a> to
post.</h3>
<% end %>

<ul>
<% Image.all.each do |i| %>
  <li><p><a href="/images/<%= i.id %>/draw"><%= i.name %></a></p>
  <p><%= i.src %></p>
  <p><a href="/users/<%= i.user.id %>"><%= i.user.username %></a></p>
  </li>
  
<% end %>
</ul>

</body>
</html>