<!DOCTYPE html>
<html>
<header>
</header>
<body>

<h2><%= @image.name %> by <%= @image.user.username %></h2>

<canvas id="myimage" width="600" height="600" style="border:1px solid black;">
Your browser does not support the HTML5 canvas tag.</canvas>

<script>
var ctx=document.getElementById("myimage").getContext("2d");
function plot(x,y){
ctx.fillRect(Math.floor(x)%600,Math.floor(y)%600,1,1);
}

<%= @image.src %>

</script>

<p><%= @image.src %></p>

<% if @own %>
<p><a href="/images/<%= @image.id %>/edit">Change or delete</a></p>
<% end %>

<p><a href="/images">Back to all images.</a></p>
</body>
</html>

