<h2>Images of <%=@user.username %></h2>
<ul>
<% @user.images.each do |i| %>
  <li><p><%= i.name %></p>
  <p><%= i.src %></p>
  <p><a href="/images/<%= i.id %>/draw">Draw Image</a></p>
  <p><a href="/user/<%= i.user.id %>"><%= i.user.username %></a></p>
  <% if @own %>
  <p><a href="/images/<%= i.id %>/edit">Clange or delete</a></p>
  <% end %>
  </li>
<% end %>
</ul>
<p><a href="/images">Show all images</a></p>
